.header
{
  height:100px; 
  width:1435px;
  margin-top:-8px;
  margin-left:-3px;
  background-color:rgb(156, 156, 156);
}

.headerinfo
{
  height:100px;
  width:200px;
  text-align:center;
  font-size:30pt;
  font-family:Arial;
  margin-left:42%;
}

.background
{
  background-color:rgb(38, 41, 39);
}